
.categories .category{
    transition: all .3s linear;
}

.categories .category p{
    text-align: center;
}

.categories .category  a{
    width: 100%;
    height: 100%;
}
.categories .category .image{
    background: var(--background_1);
    width: 100%;
    height: 170px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.categories .category .image img{
    height: 100%;
}

.categories .category p{
    margin-top: 10px;
}

.categories .category:hover .image{
    border: 1px solid var(--primary-color);
    box-shadow: 0 10px 15px 0px #a5a5a559;
}