.footer{
    background: var(--primary-color);
    color: #fff;
    position: relative;
    padding-top: 100px;
    overflow: hidden;
}


.footer::before {
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(28%, -30%);
    z-index: -1;
    background: #fff;
    z-index: 1;
    opacity: .7;
}

.footer::after {
    content: '';
    width: 520px;
    height: 520px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(28%, -30%);
    z-index: -1;
    border: 2px solid #fff;
    z-index: 1;
    opacity: .7;
}

.footer .logo{
    margin-bottom: 20px;
}

.footer .logo img{
    width: 150px;
}

.footer .heading{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .contact{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.footer .contact p{
    font-size: 15px;
}
.footer .contact .icon{
    margin-top: 4px;
}

.footer .contact .icon svg{
    font-size: 18px;
}

.footer .widget-2 h4{
    font-size: 20px;
    font-weight: 600;
}

.footer .widget-2 .bar{
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 20px;
}

.footer .widget-2 ul{
    list-style: disc;
    margin-left: 20px;
}

.footer .widget-2 ul li{
    margin-bottom: 10px;
    transition: all .3s linear;
}
.footer .widget-2 ul li:last-child{
    margin-bottom: 0;
}

.footer .widget-2 ul li:hover{
    padding-left: 8px;
}

.footer .bootom-footer{
    text-align: center;
    margin-top: 80px;
    border-top: 1px solid #fff;
    padding-top: 30px;
}