.banner-area {
    margin-top: 20px;

}

.banner {
    position: relative;
}

.banner .banner-item {
    background: #212844;
    color: #fff;
    padding: 40px 120px;
    padding-bottom: 112px;
    border-radius: 18px;
    position: relative;
}

.banner .banner-item .shape {
    position: absolute;
    top: 0;
    right: 15px;
    width: auto;
}

.banner .banner-item .product {
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
}


.banner .banner-item .text p {
    font-size: 30px;
}

.banner .banner-item .text h2 {
    font-size: 50px;
    font-weight: bold;
}


/* Swiper container */


/* Custom arrow styles */
.swiper-button-next,
.swiper-button-prev {
    color: var(--primary-color);
    background-color: #F3F9FB;
    /* Background */
    height: 86px;
    width: 86px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    z-index: 10;
    border: 10px solid #fff;
    transition: all .3s linear;
    
}

.swiper-button-next {
    right: 0;
    transform: translate(50%, -25%);
}

.swiper-button-prev {
    left: 0;
    transform: translate(-50%, -25%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #b7f8da;
}

.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 26px;
}

/* Custom dot styles */
.swiper-pagination {
    position: absolute;
    bottom: 40px !important;
    left: 120px !important;
    display: flex;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff !important;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    /* background: #007aff !important; */
    /* Active dot color */
    width: 25px;
    border-radius: 10px;
}