.main-menu{
    padding: 10px 0;
    border-bottom: var(--border);
    background: #fff;
    transition: all .5s linear;
}

.menu .menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #F3F9FB;
    color: var(--heading);
    padding: 6px 15px;
    border-radius: 10px;
    font-size: 16px;
}

.menu .active .menu-item{
    background: var(--primary-color);
    color: #fff;
}

.menu .menu-item svg{
    color: var(--primary-color);
}

.menu .active .menu-item svg{
    color: #fff;
}

.sticky{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    box-shadow: 0 0 5px 3px #b9b9b942;
}