.top-header{
    background: var(--background_1);
    padding: 10px 0;
}


.top-header .icon a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    font-size: 14px;
}

.top-header .icon svg{
    color: var(--primary-color);
    font-size: 20px;
}