.sidebar-item{
    border: var(--border);
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.sidebar-item .title{
    background: var(--background_1);
    padding: 12px 20px;
}

.sidebar-item h4{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 0;
}


.sidebar-item .item-body{
    padding: 20px;
}

.sidebar-item .item{
    display: flex;
    justify-content: space-between;
}

.sidebar-item .item span{
    color: var(--heading);
}